
body{
color:green;
font-family:Verdana, Arial, Geneva, Arial Black;
font-weight: normal;
background-color: #ffcf79;
font-size: 25px;
}
h3{
color:green;
text-decoration: underliine;
text-align: center;
font-style: italic;
}
h4{
color: red;
text-shadow: 2px 2px #ff0000;
text-align: center;
}
h1{
text-align: center;
text-decoration: underline;
}
div.dice{
	width: 100px;
	background:#F5F5F5;
	border: 4px solid #73AD21;
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
	margin-left:45%;
	margin-left:auto;
	margin-right:auto;
}

p{
	margin-left: 40%;
}

    
    