body{
color:green;
font-family:Verdana, Arial;
font-weight: normal;
background-color: #cc9999;
font-size: 25px;
}
h3 {
text-align: center;
}
ul{
font-style: italic;
}
@font-face {
    
font-family: '2dumbregular';
    
src: url('2Dumb-webfont.eot');
    
src: url('2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         
url('2Dumb-webfont.woff') format('woff'),
         
url('2Dumb-webfont.ttf') format('truetype'),
         
url('2Dumb-webfont.svg#2dumbregular') format('svg');
    
font-weight: normal;
    
font-style: normal;


}


.heading{
text-align: center;
font-family: '2dumbregular', sans-serif;
}

tbody tr:nth-child(even){
	background-color: #cc9999;
	border: 1px solid black;
}
tbody tr:nth-child(odd){
	background-color: #d7d7d7;
	border: 1px solid black;
}
tbody td{
	text-align: center;
	font-style: italic;
	border: 1px solid black;
}
tbody th{
	text-align: center;
	font-style: italic;
	border: 1px solid black;
}
caption{
	text-align: center;
	font-size: 20px;
	color: green;
}
a:link {
color: blue;
text-decoration: none;
}

a:visited {
color: cyan;
text-decoration: none;
}

a:hover {
background-color: lightgreen;
text-decoration: underline;
	
}

a:active {
color: hotpink;
text-decoration:none;
}    