body{
color:green;
font-family:Verdana, Arial;
font-weight: normal;
background-color: #cc9999;
font-size: 25px;
}
h3 {
color:green;
text-decoration: underline;
text-align: center;
}
ul{
font-style: italic;
}
@font-face {
    
font-family: '2dumbregular';
    
src: url('2Dumb-webfont.eot');
    
src: url('2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         
url('2Dumb-webfont.woff') format('woff'),
         
url('2Dumb-webfont.ttf') format('truetype'),
         
url('2Dumb-webfont.svg#2dumbregular') format('svg');
    
font-weight: normal;
    
font-style: normal;


}


.heading{
text-align: center;
font-family: '2dumbregular', sans-serif;
}
#image{
height: 400px;
background-image: url("DiamondLife2.jpg");
background-repeat: no-repeat;
background-position:center;
}    