h1{

color: black;
font-family: '3dumbregular', sans-serif;
font-size:150%;


}
.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}
footer {

color: black;
font-weight: bold;
text-align: center;
font-family: Verdana, Arial;

}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
a {
    font-family: Verdana;
    text-decoration: underline;
    font-weight: none;
    color: green;   
}

a:link {
color: black;

}

a:visited {
color: red;

}

a:hover {

font-weight:bold;


	
}
 a:active {
color: #831928;

text-decoration:none;
}    


@font-face {
    
font-family: '3dumbregular';
    
src: url('3Dumb-webfont.eot');
    
src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         
url('3Dumb-webfont.woff') format('woff'),
         
url('3Dumb-webfont.ttf') format('truetype'),
         
url('3Dumb-webfont.svg#3dumbregular') format('svg');
    
font-weight: normal;
    
font-style: normal;


}



#menu
{
background-color: #ff0000;
}
#homepage
{
background-color: #ffff00;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
}
