#divheader {

color: black;
font-family: '3dumbregular', sans-serif;
font-size:150%;
text-align: center;

}
#divfooter {

color: black;
font-weight: bold;
text-align: center;

}

@font-face {
    
font-family: '3dumbregular';
    
src: url('3Dumb-webfont.eot');
    
src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         
url('3Dumb-webfont.woff') format('woff'),
         
url('3Dumb-webfont.ttf') format('truetype'),
         
url('3Dumb-webfont.svg#3dumbregular') format('svg');
    
font-weight: normal;
    
font-style: normal;


}



#menu
{
background-color: #ff0000;
}
#homepage
{
background-color: #ffff00;
}